<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Content/Site.min.css" rel="stylesheet"/>
</head>
<body>
    <div id="root">
    </div>
<script type="text/javascript" src="../.././Scripts/vendor.js?87c48ff4706315aa21d1"></script><script type="text/javascript" src="../.././Scripts/bundle.js?87c48ff4706315aa21d1"></script></body>
</html>
